// Colours
$almost-white: #FFFEF8;
$almost-black: #1E212B;
$pink: #FFDCE1;
$yellow: #FFF5C7;

html {
  background: $almost-white;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sarabun', sans-serif;
  margin-top: 0;
}

dl {
  dt {
    font-weight: 600;
  }
  dd {
    margin-left: 1em;
    + dt {
      margin-top: 24px;
    }
  }
}

p {
  margin-bottom: 0.7em;
}

a.btn {
  border: 1px solid $almost-black;
  color: $almost-black;
  display: inline-block;
  font-family: 'Sarabun', sans-serif;
  padding: 8px 24px;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: all 300ms ease;
  &:hover {
    background: $almost-black;
    color: $almost-white;
  }
}

.content-wrapper {
  max-width: 1440px;
  margin: 8em auto;
  width: calc(100% - 80px);
  @media(min-width: 1000px) {
    display: grid;
    gap: 40px;
    grid-template-columns: calc((100% - 40px) * 0.3) calc((100% - 40px) * 0.7);
  }
  .star-rating {
    span {
      font-size: 30px;
      &.checked {
        color: $almost-black;
      }
    }
  }
  .bio .bio__content,
  .bio .bio__boosting,
  .reviews blockquote {
    position: relative;
    &:before {
      border-bottom: 1px solid $almost-black;
      background: $yellow;
      content: 'x';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 8px);
      height: 24px;
      color: black;
      text-align: right;padding-right: 8px;
    }
  }
  .bio {
    grid-column-start: 1;
    margin-bottom: 40px;
    img {
      border: 1px solid $almost-black;
      margin-bottom: 40px;
      max-width: 100%;
      width: 100%
    }
    .bio__content,
    .bio__boosting {
      border: 1px solid $almost-black;
      padding: 48px 24px 24px;
    }
    .bio__content {
      background: $pink;
      margin-bottom: 40px;
      &:before {
        background: $pink;
      }
      .star-rating {
        margin-bottom: 32px;
      }
      dl {
        margin-bottom: 40px;
      }
    }
    .bio__boosting {
      &:before {
        background: transparent;
      }
    }
  }
  .reviews {
    grid-column-start: 2;
    .star-rating span {
      font-size: 16px;
    }
    blockquote {
      border: 1px solid $almost-black;
      margin: 0 0 40px;
      background: $yellow;
      padding: 48px 24px 24px;
      @media(min-width: 1000px) {
        padding: 64px 40px 40px;
      }
    }
  }
}
